@model IEnumerable<Programación_Web_Nubit.Models.Perfil_de_trabajo>
@{
    Layout = "_Layout_Dashboard";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7d8e2933c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap"
        rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    

   <div id="sidebar">
        <header>
            <a href="#">DASHBOARD</a>
        </header>
        <ul class="nav">
            <li onclick="pedidos()">
                <a href="/Home/dashboard">
                    <i class="fa-solid fa-users"></i> Usuarios
                </a>
            </li>
            <li>
                <a href="/Home/dashboard_serv">
                    <i class="fa-solid fa-shop"></i> Servicios
                </a>
            </li>
            <li>
                <a href="/Home/dashboard_solic">
                    <i class="fa-solid fa-file"></i> Solicitudes
                </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid">
        <div class="offset-2">
            <div class="card border">
                <div class="card-header bg-dark">
                    <h1 class="text-white"><strong>Gestion</strong></h1>
                </div>
            </div>
          @if(Model.Count()>0)
          {
                <table id="tablita" class="table">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(x=>x.Usuario)</th>                       
                        <th scope="col">@Html.DisplayNameFor(x=>x.Contraseña)</th>
                        <th scope="col">@Html.DisplayNameFor(x=>x.roles.Asignacion)</th>
                        <th scope="col" style="display: d-flex; justify-content: right;">
                        </th>
                        <th>
                            <a title="Agregar Producto">
                                <button class="card">
                                        <a class="agregar" asp-action="AgregarUser"><i class="fa-solid fa-plus"></i> Agregar</a>
                                </button>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach(var item in Model)
                    {
                        <tr>
                        <td>@Html.DisplayFor(x=> item.Usuario)</td>
                        <td>@Html.DisplayFor(x=> item.Contraseña)</td>
                        <td>@Html.DisplayFor(x=> item.roles.Asignacion)</td>
                        <td>
                           
                               <a asp-action="EditarUser" asp-route-id="@item.PkPt"><i class="fa-solid fa-pen"></i></a>
                           
                           @* <button>
                                <a asp-action="EliminarUser" asp-route-id="@item.PkPt"><i class="fa-solid fa-trash"></i></a>
                            </button>*@
                        </td>
                     </tr>
                    }
                   
                </tbody>
            </table>
          }
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>

</html>