@model IEnumerable<Programación_Web_Nubit.Models.Trabajadores>
@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/PerfilUsuario.css"/>
<h1>Perfil de Usuario</h1>
<div class="tabs">
  <div class="tab-container">
      <div id="tab4" class="tab"> 
      <a href="#tab4">Datos Laborales</a>
      <div class="tab-content">
           @if (Model.Count() > 0)
                {


                    @foreach (var Item in Model)
                    { 
                    if (Item.PkTrabajador.ToString() == Context.Session.GetString("PerfilPkPt") ) {

                        <div>
                            <label>Nombre de empresa :  <text>@Html.DisplayFor(z => Item.datos_laborales.Nombrempresa)</text></label>
                        </div>
                        <br />                         
                        <br />
                        <div>
                            <label>Lugar de trabajo : <text>@Html.DisplayFor(z => Item.datos_laborales.lugartrabajo)</text></label>
                        </div>
                        <br />                      
                        <br />
                        <div>
                            <label>Puesto desempeñado : <text>@Html.DisplayFor(z => Item.datos_laborales.puestoempeñado)</text></label>
                        </div>
                        <br />                         
                        <br />
                        <div>
                            <label>Tiempo prestado : <text>@Html.DisplayFor(z => Item.datos_laborales.tiempoprestado)</text></label>
                        </div>
                        <br />                       
                        <br />
                        <a asp-controller="PerfilUsuario" asp-action="EditarDatosLaborales" asp-route-id="@Item.datos_laborales.Pkdatoslaborales" class="btn">Editar</a>
                    }

                }
                }
            </div>
    </div>
    <div id="tab3" class="tab"> 
      <a href="#tab3">Datos Academicos</a>
      <div class="tab-content">
             @if (Model.Count() > 0)
                {
                    @foreach (var Item in Model)
                    {
                        if (Item.PkTrabajador.ToString() == Context.Session.GetString("PerfilPkPt"))
                        {
                            <div>
                                <label>Nombre escuela : <text>@Html.DisplayFor(z => Item.datos_academicos.nombrescuela)</text></label>
                            </div>
                            <br />                          
                            <br />
                            <div>
                                <label>Grado egresado :  <text>@Html.DisplayFor(z => Item.datos_academicos.gradoegresado)</text></label>
                            </div>
                            <br />                      
                            <br />
                            <div>
                                <label>Especialidad : <text>@Html.DisplayFor(z => Item.datos_academicos.especialidad)</text></label>
                            </div>
                            <br /> 
                            <br />
                            <a asp-controller="PerfilUsuario" asp-action="EditarDatosAcademicos" asp-route-id="@Item.datos_academicos.PkDatosacademicos" class="btn btn-info">Editar</a>
                        }
                    }
                }
      </div>
    </div>
    <div id="tab2" class="tab">
      <a href="#tab2">Datos Domicilio</a>
      <div class="tab-content">
           @if (Model.Count() > 0)
                {
                    @foreach (var Item in Model)
                    {
                        if (Item.PkTrabajador.ToString() == Context.Session.GetString("PerfilPkPt"))
                        {
                            <div>
                                <label>Direccion :  <text>@Html.DisplayFor(z => Item.datos_domicilio.direccion)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Codigo postal :  <text>@Html.DisplayFor(z => Item.datos_domicilio.cp)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Referencia : <text>@Html.DisplayFor(z => Item.datos_domicilio.referencia)</text></label>
                            </div>
                            <br />
                            <br />
                            <a asp-controller="PerfilUsuario" asp-action="EditarDatosDomicilio" asp-route-id="@Item.datos_domicilio.Pkdatosdomicilio" class="btn btn-info">Editar</a>
                        }
                    }
                }

      </div>
    </div> 
    <div id="tab1" class="tab">
      <a href="#tab1">Datos Personales</a>
      <div class="tab-content">
            @if (Model.Count() > 0)
                {
                    @foreach (var Item in Model)
                    {
                        if (Item.PkTrabajador.ToString() == Context.Session.GetString("PerfilPkPt"))
                        {
                            <div>
                                <label>Nombres : <text>@Html.DisplayFor(z => Item.datos_personales.nombres)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Apellidos : <text>@Html.DisplayFor(z => Item.datos_personales.apellidos)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Nacionalidad : <text>@Html.DisplayFor(z => Item.datos_personales.nacionalidad)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Fecha de nacimiento :  <text>@Html.DisplayFor(z => Item.datos_personales.fechadenacimiento)</text></label>
                            </div>
                            <br />
                            <br />
                            <div>
                                <label>Telefono :  <text>@Html.DisplayFor(z => Item.datos_personales.telefono)</text></label>
                            </div>
                            <br /> 
                            <br />

                            <a asp-controller="PerfilUsuario" asp-action="EditarDatosPersonales" asp-route-id="@Item.datos_personales.Pkdatospersonales" class="btn btn-info">Editar</a>
                        }
                    }
                }
            </div> 
            
    </div> 
  </div>
</div>